/*Mobile view*/
#main-header {
  height: 520px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-width: 430px;
  background-color: rgb(247, 137, 54);
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
}

.header-img {
  padding-top: 115px;
  margin: none;
}

.main-header-username {
  font-family: Source Pro Sans, sans-serif;
  font-weight: 300;
  margin: 0;
}

.username-first-bold {
  font-weight: 560;
}

/* CSS for desktop and above */
@media only screen and (min-width: 1024px) {
  #main-header {
    display: flex;
    width: 33.3%;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1.5em;
    margin-left: 1.5em;
    margin-bottom: 1.5em;
    margin-top: 200px;
  }
  .header-img {
    padding-top: 0em;
  }
}